.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

h3 {
    font-size: xx-large;
} h3 span {
    padding: 10px;
    border: 1px solid #34495E;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
}

table {
  color: #111;
  border-radius: 3px;
  overflow: hidden;
  margin: 12px 0 24px;
  min-width: 300px;
  background: #dad8d8;
  background: rgb(245, 231, 230);
  border: 1px solid #34495E;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: rgba(221,221,85, 0.5);
}
